<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.0-beta.6/angular-sanitize.min.js"></script>
    </head>
    <body ng-app="valueExample">
    
    <div ng-controller="ExampleController">
		<input type="text" value="" ng-model="sel"><br>
		<select>
			<option ng-repeat="item in names | filter:sel">{{item}}</option>
		</select>


        <br>
        <br>
        <select ng-model="selvalue">
            <option ng-repeat="item in sites" value="{{item.url}}">{{item.site}}</option>
        </select>
        {{selvalue}}


        <br>
        <br>
        <ui-select ng-model="selected.value">
            <ui-select-match>
                 <span ng-bind="$select.selected.name">
            </span>
            </ui-select-match>
            <ui-select-choices repeat="item in (itemArray | filter:$select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>

    </div>
	
	
	
	
    <script>
        var app = angular.module('valueExample', ['ui.select','ngSanitize']);
        app.controller('ExampleController', ['$scope','$interval','$sce', function($scope,$interval,$sce) {
            $scope.names = ['a','b','c'];
            $scope.sites = [
                {site : "Google", url : "http://www.google.com"},
                {site : "Runoob", url : "http://www.runoob.com"},
                {site : "Taobao", url : "http://www.taobao.com"}
            ];
            $scope.itemArray= [{ id: 1, name: 'first' },
                {id: 2, name: 'second' },
                {id: 3, name: 'third' },
                {id: 4, name: 'fourth' },
                {id: 5, name: 'fifth' }];
            $scope.selected = { value: $scope.itemArray[0] };

        }]);
    </script>
    </body>
</html>