<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>无标题文档</title>
    <script src="angular.min.js"></script>
	<style>
	#parent div{ width:300px; height:500px; border:1px #000 solid; margin:20px;}
	#parent ul{ width:200px; position:fixed; top:0; right:0;}
	</style>
</head>

<body ng-app="myApp">



<div ng-controller="firstController" id="parent">
	姓名：{{name}} - 年龄：{{age}} - {{vname}} 
	<br/>
	<span ng-bind-html="text"></span>
	<span ng-model="data">{{data}}</span>
	<ul>
		<li ng-repeat="id in [1,2,3,4,5]" ng-click="changeDiv(id)">{{id}}aaaaaaa</li>
	</ul>
	<div ng-repeat="id in [1,2,3,4,5]" ng-attr-id="div{{id}}">{{id}}</div>
	
	
</div>

<div  ng-controller="secondController">
    {{name}}  --     {{age}}
</div>

<script>

    var app = angular.module('myApp',[]);

    app.service('serviceServices01',function($http, $rootScope, $log, $filter){
        $rootScope.age = 'service.rootscope.50';
        $log.warn('警告');
        var _name='';
        this.setName=function(name){
            _name=name;
        };
        this.getName=function(){
            return _name;
        };
        this.getData=function(){
           var  myUrl ="http://www.phonegap100.com/appapi.php?a=getPortalList&catid=20&page=1&callback=JSON_CALLBACK";
           return $http.jsonp(myUrl,{cache:true});
        };
    });
    console.log("app="+app);

    app.controller('firstController',['$scope','$http','serviceServices01','$location','$anchorScroll','$cacheFactory','$sce',
		function($scope, http, serviceServices01,$location,$anchorScroll,$cacheFactory,$sce){
		
		
        console.log("serviceServices01="+serviceServices01);
		console.log(http); 
		
		$scope.name='张三';
		
        serviceServices01.getData().success(function(data){
            console.log(data);
			$scope.data = data.result;
			
        }).error(function(){
            alert('shibai ');
        });
		
		$scope.changeDiv = function(divId){
			 $location.hash("div"+divId);
		}
		
		var cache = $cacheFactory("cacheId"); 
		cache.put("name", "cacheFactory可以在不同controller可以共享");
		$scope.vname = cache.get('name');
		
		$scope.text = $sce.trustAsHtml('<h1>hello text</h1>');

		
    

		
    }]);
	
	
    app.controller('secondController',['$scope','serviceServices01','$location',function($scope, serviceServices01, $location){
        //console.log(serviceServices01);
        $scope.name='李四';
		console.log("location.absUrl="+$location.absUrl());
		//$location.path("/new");
    }]);

</script>
</body>
</html>
